{{ define "main" }} {{ partial "jumbotron" (dict "imageUrl" .Params.image
"title" .Title) }} {{ partial "4-up" .Params.intro }} {{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }} {{ end }}

<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">Ubicación</h3>
    <p>Cnel. Osorio 3026 B1824IJT Lanús Oeste. Buenos Aires Argentina</p>
    <h3 class="f3 b lh-title mb2">Cómo llegar</h3>
    <h4>En Colectivo</h4>
    <p>Líneas 520 (todas los ramales), 188, 421, 31, 9 expreso, 28</p>
    <h4>En Tren</h4>
    <p>Estación Villa Diamante, Belgrano Sur-Alsina.</p>
  </div>
</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100" />
