{{ define "main" }} {{ partial "jumbotron" (dict "imageUrl" .Params.image
"title" .Title) }} {{ partial "4-up" .Params.intro }} {{ with .Params.main }}
<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">{{ .heading }}</h3>
    <p>{{ .description }}</p>
  </div>
</div>

<!-- Image grid -->
{{ partial "image-grid" . }} {{ end }}

<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <h3 class="f3 b lh-title mb2">Ubicación</h3>
    <p>Cnel. Osorio 3026 B1824IJT Lanús Oeste. Buenos Aires Argentina</p>
    <h3 class="f3 b lh-title mb2">Cómo llegar</h3>
    <h4>En Colectivo</h4>
    <p>Líneas 520 (todas los ramales), 188, 421, 31, 9 expreso, 28</p>
    <h4>En Tren</h4>
    <p>Estación Villa Diamante, Belgrano Sur-Alsina.</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.9566049736895!2d-58.43813348476833!3d-34.68104468043949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccc7247ecec6b%3A0x336af5443ec6afc2!2sCnel.%20Osorio%203026%2C%20B1824IJT%20Lan%C3%BAs%20Oeste%2C%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1575297532962!5m2!1sen!2sar"
      width="600"
      height="450"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
    ></iframe>
  </div>
</div>

<!-- Full-width image -->
<img src="{{ .Params.full_image }}" alt="" class="db w-100" />
